
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */
.navbar-inverse{
    background-color: white;
    border-bottom: 0px;
}
.navbar-brand img{
    padding-top: 10px;
}
.top-nav {
    padding-right:30px;
    font-weight: bold;
    margin-top: 10px;

}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    line-height: 20px;
    color:black;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}


.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}
.tab-content{
    padding: 15px;
}

#top{
    
}
.signed_user{
    margin-top: 15px;

}

.signeduser{
    margin-top: 0px;
    padding-left: 0px;
}
.dasdiv{
    margin-top: 10%;
}

.side_barlist{
    
    width: 70%;
    background-color: #696969;
    margin-left: 5%;
    height: 400px;
    
    text-align: left;
}
.nav-tabs li a{
    font-weight: bold;
    color: white;
}
.nav-tabs li a:hover{
    
    color: black;
}
#teach .dashtabs{
    
}